html {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
div {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    width: 400px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
  }

  h1 {
    color: green;
    text-align: center;
  }

  #red {
    color: red;
  }

  .blue {
    color: blue;
  }